@import 'tailwindcss';

:root {
  --background: #fdf8f1;
  --foreground: #fdf8f1;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-primary: #f08519;

  --background-image-cheva-logo: url('/images/chevalier_logo.svg');
  --background-image-cheva-fgs: url('/images/chevalier_aslab_photogroups.svg');
  --background-image-startup: url('/images/vector_startup.svg');
  --background-image-webdev: url('/images/vector_webdev.svg');
  --background-image-android: url('/images/vector_android.svg');
  --background-image-game: url('/images/vector_game.svg');
  --background-image-uiux: url('/images/vector_uiux.svg');
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #fdf8f1;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
